@tailwind base;
@tailwind components;
@tailwind utilities;

@import-normalize;

@font-face {
  font-family: "Galano Grotesque Regular";
  src: url("./assets/fonts/GalanoGrotesqueRegular.otf");
}

@font-face {
  font-family: "Galano Grotesque Medium";
  src: url("./assets/fonts/GalanoGrotesqueMedium.otf");
}

@font-face {
  font-family: "Galano Grotesque Bold";
  src: url("./assets/fonts/GalanoGrotesqueBold.otf");
}

@font-face {
  font-family: "Galano Grotesque ExtraBold";
  src: url("./assets/fonts/GalanoGrotesqueExtraBold.otf");
}
